* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
body {  
    background-image: url("Fondo_liam.png");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* MENU DE NAVEGADOR */
h1 {
    text-align: center;
    color: #000000;
    margin-top: 20px;
    font-size: 50px;
}
nav { /* barra */
    background-color: #f89afaec;;
}
ul {
    list-style: none;
    padding: 20px;        /* margen */ 
    text-align: center;  /* centrar texto */
}
li {
    display: inline-block;    /* en línea */
    margin: 0 20px;     /* 0 arriba y abajo, 20 izquierda y derecha, margen entre elementos */
}
a {  /* letras de menú */
    text-decoration: none;  /* quitar subrayado */
    color: #000000ec;       /* color texto */
    font-size: 20px;        /* tamaño texto */
    border-bottom: 2px solid transparent;  /* borde inferior transparente */
}
a:hover { /* al pasar mouse */
    color: rgb(244, 20, 244);  /* color al pasar el mouse */
    border-bottom: 2px solid red;  /* borde inferior rojo al pasar el mouse */
}

.contenedor_de_todo {
    margin: auto;
    margin: top 50px;
    width: 960px;
    height: 800px; 
    background-color: #f3f3f3ec; 
    }
  
  
  
  .Caja_bienvenida {
      width: 960px;
      padding:  20px;
      display: flex;   /* organizar los elementos dentro de*/
      justify-content: flex-start;   /*Centra los elementos dentro del contenedor horizontalmente */
      background-color: #e2f375ec;  /*Define un color de fondo */
      color: rgb(7, 6, 6); /*Color de texto */
      height: auto; /* Ajusta la altura automáticamente según el contenido */
      margin: top 50px; /* Centra el contenedor horizontalmente y agrega un margen superior e inferior */
      border-radius: 10px; /* Agrega bordes redondeados */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra para darle profundidad */
  } 
   .Caja_bienvenida h2 {
      margin-bottom: 0px; /* Ajusta el valor según sea necesario */
  }
  
  .Caja_bienvenida p {
      margin-top: 10px; /* Ajusta el valor según sea necesario */
  }
  /* CAJA DE PRE REGISTRO*/
 .contenedor_acceso{
    margin: auto;
     margin: top 500px;
     padding:  20px;
     width: 960px;
     height: 300px; 
     background-color: #f89afaec; 
       }   
       
       .Caja_acceso {
           width: 960px; /* Ajusta este valor según sea necesario */
           padding: 10px 20px;
           display: flex; /* Organiza los elementos dentro del contenedor */
           justify-content: center; /* Centra los elementos dentro del contenedor horizontalmente */
           color: rgb(0, 0, 0); /* Color de texto */
           height: 500px; /* Ajusta este valor para hacer la caja más larga */
           margin: 20px 0; /* Agrega un margen superior e inferior */
         }
   
   .Caja_acceso form button {
       padding: 10px 40px;
       margin-top: 40px;
       border: none;
       font-size: 14px;
       background: rgb(238, 238, 238);
       color: rgb(9, 4, 4);
       cursor: pointer;
       outline: none;
       position: relative; /* Permite mover el botón con top, left, right, bottom */
       top: 45px; /* Mueve el botón 10px hacia abajo */
       left: -230px; /* Mueve el botón 20px hacia la derecha */
   }
   
   .Caja_acceso button:hover {
       background: white;
       color: black;
   }
   
   .contenedor_acceso form h2 {
       font-size: 100px;
       text-align: center;
       margin-bottom: 20px;
       color: rgb(172, 22, 8);
   }
   .contenedor_acceso{
    margin: auto;
     margin: top 500px;
     padding:  20px;
     width: 960px;
     height: 300px; 
     background-color: #f89afaec; 
       }   
       
       .Caja_acceso {
           width: 960px; /* Ajusta este valor según sea necesario */
           padding: 10px 20px;
           display: flex; /* Organiza los elementos dentro del contenedor */
           justify-content: center; /* Centra los elementos dentro del contenedor horizontalmente */
           color: rgb(0, 0, 0); /* Color de texto */
           height: 500px; /* Ajusta este valor para hacer la caja más larga */
           margin: 20px 0; /* Agrega un margen superior e inferior */
         }
   
   .Caja_acceso form button {
       padding: 10px 40px;
       margin-top: 40px;
       border: none;
       font-size: 14px;
       background: rgb(238, 238, 238);
       color: rgb(9, 4, 4);
       cursor: pointer;
       outline: none;
       position: relative; /* Permite mover el botón con top, left, right, bottom */
       top: 45px; /* Mueve el botón 10px hacia abajo */
       left: -230px; /* Mueve el botón 20px hacia la derecha */
   }
   
   .Caja_acceso button:hover {
       background: white;
       color: black;
   }
   
   .contenedor_acceso form h2 {
       font-size: 100px;
       text-align: center;
       margin-bottom: 20px;
       color: rgb(172, 22, 8);
   }
   
  
 